{{define "T"}}
<!doctype html>
<html>

<head>
    <title>Provisium Landing Page</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.orange-deep_orange.min.css" />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>


    <!-- Wide card with share menu button -->
    <style>
        .homelink {
            text-decoration: none !important;
            color: black !important;
        }

        .demo-card-wide.mdl-card {
            width: 100%;
        }

        .demo-card-wide>.mdl-card__title {
            color: #fff;
            height: 176px;
            background: url('/static/assets/dataset.jpg') center / cover;
        }

        .demo-card-wide>.mdl-card__menu {
            color: #fff;
        }
    </style>

    <script type="application/ld+json"> 
        {{.SchemaOrg}}
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>

<body>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">
                    <a class="homelink" href="/">Provisium</a>
                </span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link" href="/">Home</a>
                    <a class="mdl-navigation__link" href="/catalog/listing">Catalog</a>
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Provisium</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="/">Home</a>
                <a class="mdl-navigation__link" href="/catalog/listing">Catalog</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="page-content">
                <!-- Your content goes here -->


                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--6-col">

                        <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                            <div class="mdl-card__title">
                                <h2 class="mdl-card__title-text">Data XYZ</h2>
                            </div>
                            <div class="mdl-card__supporting-text">

                                parse jsonld here..

                            </div>
                            <div class="mdl-card__actions mdl-card--border">
                                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                    More to come </a>
                            </div>
                            <div class="mdl-card__menu">
                                <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                    <i class="material-icons">share</i>
                                </button>
                            </div>
                        </div>
                    </div>



                </div>

                <!-- Look at HTML5 details summary tags for use here... -->

                <ul class="demo-list-icon mdl-list">
                    {{ range $key, $value := .EventLog }}
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">event</i>
                            <a href="/api/v1/event/{{$key}}">Event Details</a> : {{$value}}
                        </span>
                    </li>
                    {{end}}
                </ul>


            </div>
        </main>

        <footer class="mdl-mini-footer">
            <div class="mdl-mini-footer__left-section">
                <div class="mdl-logo">Provisium</div>
                <ul class="mdl-mini-footer__link-list">
                    <li>
                        <a target="_blank" href="http://www.esipfed.org/esip-lab">Funded by the ESIP Lab</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://github.com/ESIPFed/provisium">Git Hub Repo</a>
                    </li>
                </ul>
            </div>
        </footer>

    </div>

</body>

</html>
{{end}}