{{define "T"}}
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="A portfolio template that uses Material Design Lite.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<title>Prov Doc</title>
</head>

<body>
	<h1>Throughput PROV Record</h1>
	<p>
		Provide some examples here of how someone can include a given record in their
		page based on the PROV-AQ Note
	</p>

	<pre>
		{{.}}
	</pre>

</html>
{{end}}